<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <h1>Übersicht der Event-Vorgänge und der zugehörigen Endzeitpunkte</h1>

        <div style="width: auto">
          <table id="events" class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Event</th>
              <th>Vorgang</th>
              <th>Endzeitpunkt des Vorgangs</th>
              <th>Binärvariable</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <% @event_job_period_associations.each do |event_job_period_association| %>
                <tr>
                  <td><%= event_job_period_association.event.name %></td>
                  <td><%= event_job_period_association.job.name %></td>
                  <td><%= event_job_period_association.period.time %></td>
                  <td><%= event_job_period_association.job_end %></td>
                  <td><%= link_to 'Anzeigen', event_job_period_association %></td>
                  <td><%= link_to 'Ändern', edit_event_job_period_association_path(event_job_period_association) %></td>
                  <td><%= link_to 'Entfernen', event_job_period_association, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher entfernen?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <br>
        <%= button_to 'Neuen Event-Vorgang anlegen', new_event_job_period_association_path, method: :get, :class => "btn btn-primary" %>
        <br><br>
        <%= link_to 'Zurück zur Eventplanung', tcpsp_path %>
    <% end %>
<% end %>