<% provide(:title, "Anmeldung") %>
<h1>Anmeldung</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email, 'E-Mail-Adresse' %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label 'Passwort' %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Anmeldedaten speichern</span>
        <% end %>

        <%= f.submit "Anmelden", class: "btn btn-primary" %>

    <% end %>

    <p>Sind Sie noch nicht registriert? <%= link_to "Jetzt kostenlos registrieren.", signup_path %></p>
  </div>
</div>