<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <p id="notice"><%= notice %></p>

        <h1>Grafische Darstellung der Zusatzkapazitäten pro Periode</h1>

<%= column_chart add_cappa_chart_data,
                         title: 'Anzeige der Zusatzkapazitäten pro Tag',
                         xtitle: 'Datum',
                         ytitle: 'Anzahl der Zusatzkapazitäten',
                         height: "400px",
                         library: {backgroundColor: 'white' },
                         legend: false,
                         color: 'blue',
                         stacked: false
        %>
        <br><br><br>

        <h1>Tabellarische Darstellung der Zusatzkapazitäten pro Periode</h1>
        <div style="width: auto">
          <table id="events" class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Periode</th>
              <th>Datum</th>
              <th>Zusätzliche Kapazität</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @periods.each do |period| %>
                <tr>
                  <td><%= period.name %></td>
                  <td><%= period.id %></td>
                  <td><%= period.add_cappa %></td>
                  <td><%= link_to 'Anzeigen', period %></td>
                  <td><%= link_to 'Ändern', edit_period_path(period) %></td>
                  <td><%= link_to 'Entfernen', period, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher entfernen?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <br>
          <p>
            <b>Anzahl der Zusatzkapazitäten:</b>
            <%= @sum_add_cappa %> Hilfskräfte
          </p>

          <p>
            <b>Anzahl der Perioden:</b>
            <%= @number_of_periods %> Perioden
          </p>

          <%= form_tag change_periods_path %>
          <div class="field">
            <%= label_tag :mynewnumber, "Tragen Sie hier bitte die gewünschte Anzahl von Perioden ein:" %>
            <%= text_field_tag :mynewnumber, @mynumber_of_periods  %>
          </div>
          <%= submit_tag "Anzahl der Perioden anpassen", class: "btn btn-primary"  %>
          <br><br>
          <%= link_to 'Zurück zur Eventplanung', tcpsp_path %>
        </div>

    <% end %>
<% end %>