<% if logged_in? %>
    <%= form_for(@event) do |f| %>
        <% if @event.errors.any? %>
            <div class="alert alert-danger fade in">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <p><%= @event.errors.count.to_s +  ' Fehler' %>
                <% if @event.errors.count < 2 %>
                    verhindert
                <% elsif @event.errors.count > 1 %>
                    verhindern
                <% end %>
                das Speichern des Events.
              </p>

              <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label 'Anlass' %><br>
          <%= f.text_field :name, type: "text", required:"required", title: "Bitte geben Sie einen individuellen Namen für Ihren Anlass an."%>
        </div>
        <div class="field">
          <%= f.label :eventtext, "Hier ist Raum für Ihre Träume bezüglich Ihres Events:" %><br>
          <%= f.text_area :eventtext, type: "text", required: "required"%>
        </div>
        <div class="field">
          <%= f.label :guest, 'Anzahl der Gäste' %><br>
          <%= f.number_field :guest,type: "number", min:20, required:"required"%>
        </div>
        <div class="field">
          <%= f.label :deadline, 'Datum des Events' %><br>
          <%= f.date_select :deadline, {order: [:day, :month, :year], prompt: { day: 'Tag', month: 'Monat', year: 'Jahr' }, start_day:Date.today.day + 45, start_month:Date.today.month, start_year:2017}, {required: true} %>
        </div>

        <div class="actions">
          <%= f.submit 'Event bestätigen', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
<% end %>
