<% provide(:title, "Verwaltung") %>

<% if logged_in? %>
    <p>
      <strong>Anlass:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Persönliche Wünsche:</strong>
      <%= @event.eventtext %>
    </p>

    <p>
      <strong>Anzahl der Gäste:</strong>
      <%= @event.guest %>
    </p>

    <p>
      <strong>Datum des Events:</strong>
      <%= @event.deadline %>
    </p>

    <%= link_to 'Ändern', edit_event_path(@event) %> |
    <%= link_to 'Zurück', events_path %>
<% end %>
